<%= form_for @user do |f| %>
<p>
  User name: <%= f.text_field :username %>
  </p>
  <p>
  Email : <%= f.email_field :email %>
  </p>
  <p>
  Password : <%= f.password_field :password%>
  </p>
  <p>
  <%= f.submit "Sign Up"%>
  </p>
<% end %>