<!--
<form action=" /users" method="post"  accept-charset="UTF-8" >
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <fieldset class="account-info">
    <label>
      Username
      <input type="text" name="user[username]"><br>
    </label><br>
    <label>
      Email
      <input type="email" name="user[email]"><br>
    </label><br>
    <label>
      Password
      <input type="password" name="user[password]"><br>
    </label><br>
  </fieldset><br>
  <fieldset class="account-action">
    <input class="btn" type="submit" name="submit" value="Login"><br>
  </fieldset><br>
</form>

-->
<!--<%= form_tag("/users", method: "post") do %>

  <%= label_tag("username") %>
  <%= text_field_tag :"user[username]" %><br>

  <%= label_tag("email") %>
  <%= email_field_tag :"user[email]" %><br>
  </div>
  <%= label_tag("password") %>
  <%= password_field_tag :"user[password]" %><br>
  <%= submit_tag("SignUp") %>
<% end %>    -->

<%= form_for @user do |f| %>

<% if !@user.errors.full_messages.empty? %>
<ul>
<%@user.errors.full_messages.each do |error|%>
     <li><%= error %></li>
<% end %>
</ul>
<% end %>
<p>
  User name: <%= f.text_field :username %>
  </p>
  <p>
  Email : <%= f.email_field :email %>
  </p>
  <p>
  Password : <%= f.password_field :password%>
  </p>
  <p>
  <%= f.submit "Sign Up"%>
  </p>
<% end %>
